html, body {
  height: 100%;
  margin: 0;
  font-family: "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

img {
  height: 100%;
}

.img-profile {
  width: 250px;
}

.link {
  color: rgb(26, 13, 171)
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}