.navbar {
    -fx-background-color: #34495e;
}

.nav-button {
    -fx-background-color: #1abc9c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}

.nav-button:hover {
    -fx-background-color: #16a085;
}

.home-code-area {
    -fx-font-family: "Consolas", "Courier New", monospace;
    -fx-font-size: 13px;
    -fx-background-color: #f6f8fa;
    -fx-border-color: #d1d5da;
    -fx-border-radius: 5;
    -fx-padding: 10;
}
